<div class="card text-bg-dark mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">listado de Clientes</h5>
    <div class="my-4 text-left">
      <button class="btn btn-rounded btn-primary" [routerLink] = "['/clientes/form']">Crear Cliente</button>
    </div>
    @if (clientes.length == 0) {
      <div class="alert alert-info" role="alert">
        No hay clientes registrados
      </div>
    }
    @if (clientes.length > 0) {
      <table class="table table-dark border-primary table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>email</th>
          <th>fecha</th>
          <th>editar</th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        @for (cliente of clientes; track $index) {
        <tr>
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre | uppercase }}</td>
          <td>{{ cliente.apellido | uppercase }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt | date: 'fullDate' }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" [routerLink] = "['/clientes/form', cliente.id]">Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click) = "deleteCliente(cliente)">Eliminar</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
